.main {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 1200px;
  height: 1800px;
  border: 2px solid black;
}

.main-task-container {
  display: none;
}

.sort-div {
  border: 2px solid;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  text-align: center;
}

.close-btn{
  cursor: pointer;
  border: 0;
  background-color: #ffe6ca;
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
}

.task-list {
    height: 100%;
}

.task {
  width: 100%;
  height: auto;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.visible{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visible * {
  margin: 10px;
}

.desc {
  display: none;
  align-self: flex-start;
  margin-left: 90px;
}

.create-btn {
  width: 250px;
  height: 50px;
  border-radius: 5px;
}

.create-btn:active {
  background-color: darkgrey;
}


.create-task-container {
  width: 500px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffe6ca;
  position: absolute;
  right: 600px;
  top: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 17px;
}


.p-task-name {
  font-size: 20px;
  font-weight: 700;
}

.p-task-description {
  font-size: 20px;
  font-weight: 700;
}

.task-h {
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.task-description{
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.confirm-creating-task{
  width: 150px;
  border-radius: 5px;
}

.task-p {
  font-size: 20px;
}

.status-p {
  font-size: 20px;
}

.visible > button {
  height: 30px;
  width: 160px;
  border-radius: 5px;
  cursor: pointer;
}

.visible > button:active {
  background-color: grey;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid;
}

.redact-task {
  width: 500px;
  height: 250px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffe6ca;
  position: absolute;
  right: 600px;
  top: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.redact-input-h {
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.redact-input-desc{
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.redact-p,
.redact-desc-p,
.status-redact{
  font-size: 20px;
  font-weight: 700;
}

.redact-btn {
  width: 150px;
  border-radius: 5px;
}


.close-redact-btn{
  cursor: pointer;
  border: 0;
  background-color: #ffe6ca;
  position: absolute;
  top: 5px;
  right: 10px;
}

.redact-container {
  display: none;
}


#prototype {
  display: none;
}


.idNumber{
  color: red;
}

.nameError {
  font-size: 13px;
  color: red;
  display: none;
}

.descError{
  font-size: 13px;
  color: red;
  display: none;
}